<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="/css/newRecipe.css" />
    <link href="https://fonts.googleapis.com/css2?family=Nova+Cut&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap">
</head>

<body>
    <div class="header">
        <h1>Baking Time</h1>
        <img src="/img/bakingTime11.png" alt="" id="bakingTimeImg" />
    </div></br></br>
    <div id="formNew">
        <form action="/ingredients" method="POST">
            <label>Qty : </label><input type="text" name="qty" /> </br></br>
            <label>Unit Of measure :</label><input type="text" name="unit_of_measure" class="smallInput" /><label>
                </label></br></br>
            <label>Ingredient Description: </label><input type="text" name="ingredient_description" class="smallInput" /><label>
                </label></br></br>
        </form>
  
    </div>

</body>

</html>