body {
	display: flex;
	flex-flow: row wrap;
	background-color: lightcyan;
	color: #fcd1c6;
	font-family: "Luckiest Guy";
	font-size: 20px;
	flex-flow: row wrap;
}

img {
	background: none;
	height: 250px;
	width: 250px;
}
#heading {
	display: flex;
	width: 100%;
	justify-content: center;
	font-size: 45px;
	padding: 50px;
	margin: 30px;
	background-color: #fcd1c6;
	color: #009f9f;
}
#formNew {
	display: flex;
	background-color: #fcd1c6;
	color: #009f9f;
	width: 100%;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding: 30px;
}
input {
	height: 20px;
	width: 400px;
	font-family: "Nova Cut";
	font-size: 20px;
}
select {
	font-family: "Nova Cut";
	font-size: 20px;
}
.smallInput {
	width: 70px;
}
.button {
	width: 150px;
	justify-content: center;
	background-color: #009f9f;
	height: 35px;
	border-radius: 65px/55px;
	font-size: 16px;
	font-family: "Luckiest Guy";
}
.header {
	/* border: 3px solid red; */
	display: flex;
	color: #009f9f;
	background-color: #fcd1c6;
	width: 100%;
	justify-content: center;
	align-content: space-between;
	align-items: center;
	font-size: 35px;
	border-style: groove;
	border-radius: 600px/15px;
}
#bakingTimeImg {
	border-style: groove;
	border: none;
	display: flex;
	width: 150px;
	height: 150px;
	border-radius: 165px/35px;
	text-transform: unset;
}

a {
	text-decoration: none;
	color: #005f5f;
	font-family: "Sniglet";
}
